<div *ngIf='data.type === "gate"'>
  <h1 mat-dialog-title>Dodaj bramkę logiczną do: {{data.id}}</h1>
  <div mat-dialog-content>
    <!-- <p>Nowa bramka</p> -->
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Opis</mat-label>
      <input matInput [(ngModel)]="data.desc">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="data.type">
        <mat-option  value="kn">KN Gate</mat-option>
        <mat-option value="or">OR Gate</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
<div *ngIf='data.type === "event"'>
  <h1 mat-dialog-title>Dodaj wydarzenie do bramki: {{data.id}}</h1>
  <div mat-dialog-content>
    <!-- <p>Nowe wydarzenie</p> -->
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Opis</mat-label>
      <input matInput [(ngModel)]="data.desc">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prawdopodobieństwo</mat-label>
      <input matInput [(ngModel)]="data.failure_rate">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>

<!-- id: string;
desc?: string;
failure_rate?: number;
children: EventNode[];
plus?:boolean;
type: string; //event / gate -->