<mat-card class='card-section'>
    <mat-card-title>Diagnostyka i wiarygodność SK</mat-card-title>
    <mat-card-content>Projekt narzędzia komputerowego wspomagającego analizę drzew błędów (FTA)</mat-card-content>
    <mat-card-content>Aplikacja umożliwiająca tworzenie pliku JSON drzewa FTA.</mat-card-content>
    <mat-card-content> Wykonali:</mat-card-content>
    <mat-card-content>sierż. pchor. inż. Igor Frelikowski</mat-card-content>
    <mat-card-content>sierż. pchor. inż. Mateusz Wojciechowski</mat-card-content>
    <mat-card-content>st. kpr. pchor. inż. Michał Malek</mat-card-content>
    <mat-card-content></mat-card-content>
</mat-card>